# Ignore data files
data/
*.parquet

# Ignore environment files
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/
